*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    position: relative;
    background-color: azure;
}
.image-gallery{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    grid-gap: 20px;
}
.image-gallery .image-box{
    position: relative;
    background-color: #d7d7d8;
    overflow: hidden;
}
.image-gallery .image-box:nth-child(4n+1){
    grid-column: span 2;
    grid-row: span 1;
}
.image-gallery .image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}
.image-gallery .image-box img:hover{
    transform: scale(1.2);
}